* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: hsl(185, 75%, 39%);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}   


.container {
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top:150px;
    align-items: center;
    height: 450px;
    width: 25%;
    flex-shrink: 0;
}

.top {
    border-radius: 10px 10px 0px 0px;
    height: 35%;
    width: 100%;
    background: url(/images/bg-pattern-card.svg);
    background-size: cover;
    text-align: center;
    z-index: 1; 

}

img {
    margin-top: 25%;
    border-radius: 50%;
    border :5px solid white;  
}


.profile-photo {
    border-radius: 50%;    
}

.details {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    border-bottom: 0.3px solid hsl(0, 0%, 59%);
}

.text {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.age, .location {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    padding-left: 4px;
    color: hsl(0, 0%, 59%);
}



.stats {
    font-size: 18px;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.flexin-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
  
.flexin-title {
    margin: 0 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}
  
.flexin-body {
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    
}
