
*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
}

/* top section */

.top {
    background-image: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navbar {
    font-family: "Barlow",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;   /*to remove bullets*/
}

.navbar a {
    color: white;
    text-decoration: none; /*to remove underline*/
    margin-left: 3rem;
}

.navbar a li {
    opacity: 0.8;
}

.navbar a button {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

header .hamburger-button {
    all: inherit;
    padding: 0;
    display: none;
}

.top h1 {
    text-align: center;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
    letter-spacing: 0.5rem;
    margin-top: 3rem;
}

.top .arrow-down {
    text-align: center;
    margin: 170px;
}

/* grid section */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-text {
    height: 650px;
    width:100%;
    padding: 9rem;
}

.grid-text h2 {
    font-family: "Fraunces", serif;
    font-size: 3rem;
}

.grid-text p {
    font-family: "Barlow",sans-serif;
    color: hsl(210, 4%, 67%);
    line-height: 1.5;
    font-size: 18px;
}

.grid-text a {
    display: block;
    font-family: "Fraunces", serif;
    text-decoration: solid underline hsl(51, 97%, 65%) 6px;
    margin-top: 3rem;
    color: black;
}

.grid-box-2 {
    background-image: url(./images/desktop/image-transform.jpg);
    background-size: cover;
}

.grid-box-3 {
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-size: cover;
}

.grid-text-img {
    height: 650px;
    width:100%;
    padding: 27rem 12rem 2rem 12rem;
    text-align: center;
    line-height: 1.5;
}

.grid-text-img h2 {
    font-family: "Fraunces", serif;
    font-size: 2rem;
}

.grid-text-img p {
    font-family: "Barlow",sans-serif;
}


.grid-box-5 {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: cover;
    color: hsl(167, 40%, 24%);
}


.grid-box-6 {
    background-image: url(./images/desktop/image-photography.jpg);
    background-size: cover;
    color: hsl(198, 62%, 26%);
}

.grid-testimonials {
    grid-column: span 2;
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8rem;
}

.grid-testimonials-heading {
    grid-column: span 3;
    text-align: center;
    font-family: "Fraunces", serif;
    letter-spacing: 0.35em;
    color: hsl(210, 4%, 67%);
    height: 0rem;
}

.testimonial-box {
    min-height: 10rem;
    width: 100%;
    text-align: center;
    padding: 3rem;
    color: hsl(213, 9%, 39%);
    font-family: "Barlow",sans-serif;
    line-height: 1.75;

}

.testimonial-box img {
    border-radius: 50%;
    width: 20%;
    
}

.testimonial-name {
    margin-top: 6rem;
    font-family: "Fraunces", serif;
    font-weight: 900;
    color: black;
}

.testimonial-resignation{
    color: hsl(210, 4%, 67%);
    font-size: 0.75em;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 500px;
    width: 100%;
}

.image-milkbottles {
    background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
    background-size: cover;
}

.image-orange {
    background-image: url("./images/desktop/image-gallery-orange.jpg");
    background-size: cover;
}

.image-cone {
    background-image: url("./images/desktop/image-gallery-cone.jpg");
    background-size: cover;
}

.image-sugarcubes {
    background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
    background-size: cover;
}

.socials {
    display: grid;
    min-height: 250px;
    background-color: #90D4C5;
    padding: 2rem;
}

.footer-logo, .socials-menu {
    text-align: center;
}

.footer-logo {
    padding: 20px;
}


.socials-menu a {
    text-decoration: none;
    color:hsl(168, 34%, 41%);
    font-family: "Barlow",sans-serif;
    padding: 3rem 1rem;
}

.socials-icons {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.socials-icons p {
    text-align: center;

}

/* 
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    grid-column: span 2;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.header-title {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 3.5rem;      
    
}

.header-logo{

}


.header-arrow-down{
    display: block;
    margin: auto;
    margin-top:340px;
} */