
*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header {
    position: relative;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    grid-column: span 2;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.header-title {
    
    margin: 500px 450px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 3.5rem;
    
}


.arrow-down{
    display: block;
    margin: auto;
    margin-top:340px;
}